{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/codemirror.min.js"
  integrity="sha256-hY4lHTn7c3QSwGpgxj3OAYynw9Etpx530BNJHTmhvYA="
  crossorigin="anonymous">
</script>
<script src="{% static 'js/task_detail.js' %}"></script>
{% endblock %}

{% block stylesheets %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/codemirror.min.css"
  integrity="sha256-I8NyGs4wjbMuBSUE40o55W6k6P7tu/7G28/JGUUYCIs="
  crossorigin="anonymous" />
{% endblock %}

{% block content %}
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'task-list' %}">Home</a></li>
    </ul>
  </nav>
  <h1 class="is-size-4 title">{{ object }}</h1>
  <article class="message">
    <div class="message-body">{{ object.text }}</div>
  </article>
  <div class="columns">
    <div class="column is-6">
      <h2 class="is-size-5 subtitle">Solution</h2>
      <textarea id="solution" class="is-invisible">{{ object.solution }}</textarea>
    </div>
    <div class="column is-6">
      <h2 class="is-size-5 subtitle">Abstract Syntax Tree</h2>
      {{ object.ast_json }}
    </div>
  </div>
{% endblock %}
